header {
  font-family: 'Poppins', sans-serif;
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: white;
  max-width: 1000px;
}

a {
  color: #ffd260;
  text-decoration: none;
}

section {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin: auto;
  width: 80%;
  background:#ffd260; 
  border-radius: 50px;
  text-align: center;
}

h2 {
  padding-top: 150px;
  display: flex;
  color: #ffd260;
  font-family: 'Poppins';
  font-size: 300%;
}

p {
  font-family: 'Poppins', verdana;
  font-size: 160%;
}

button {
  font-family: 'Poppins';
  outline: none;
  padding: 5px 5px;
  background:#fff; 
  border-radius: 50px;
  cursor: pointer;
}